<div class="status-bar text-nowrap">
    <%- include('../components/status-item', {label:'Volume', score:60.94, isUp:true, cost:"171,143",
        background:"odd", wallets: ""}); %>
    <%- include('../components/status-item', {label:'Profits', score:60.94, isUp:false, cost:"171,143",
        background:"even", wallets: ""}); %>
    <%- include('../components/status-item', {label:'Losses', score:60.94, isUp:true, cost:"171,143",
        background:"odd", wallets: ""}); %>
    <%- include('../components/status-item', {label:'Active wallets', score:0, isUp:true, cost:"",
        background:"even", wallets: "145.5K"}); %>
    <%- include('../components/status-item', {label:'New wallets', score:0, isUp:true, cost:"",
        background:"odd", wallets: "1,329"}); %>
</div>