<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container p-0">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <%- include('../partials/status-bar'); %>
        <div class="content d-flex align-items-center">
            <%- include('../partials/feed-data', { feedData }); %>
            <%- include('../partials/bar-data', { barData }); %>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>